.Buttons,
.faq,
.ContinueSetup {
  width: 65%;
  margin: auto;
}

h1:not(.nav),
h3 :not(.nav) {
  color: #c41818;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  text-align: center;
}

.faq h3 {
  font-size: 1.8vw;
}

p {
  color: aliceblue;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  position: relative;
  text-align: center;
}

button,
.button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50vw;
  padding: 0.3vw;
  background-color: aliceblue;
  text-decoration: none;
  color: black;
}

.button {
  position: relative;
}

.dashboard-text {
  width: 40%;
  margin: auto;
}

@media (max-width: 800px) {
  .dashboard-text {
    width: 90%;
  }
  .Buttons,
  .faq,
  .ContinueSetup {
    width: 70%;
    margin: auto;
  }
  .Buttons p {
    font-size: 4rem;
  }
  .Buttons h1 {
    font-size: 6vw;
  }
  button,
  .button {
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 5%;
  }
}

.results h1 {
  font-size: 2.5rem;
}
.results p {
  font-size: 1.8rem;
}

.data-list p {
  font-size: 1.2rem;
  text-align: left;
  left: 27%;
  color: grey;
  margin: 0.2rem;
}

.data-list-top p {
  font-size: 1.2rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
  text-align: right;
  border-bottom: 0.001rem solid grey;
}

.data-list-top-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(200, 200, 200, 0.1);
  width: fit-content;
  margin: auto;
  border-radius: 1rem;
  justify-content: center;
  border: 0.01rem solid grey;
}

.data-list-title {
  color: #c41818c2;
  float: left;
  padding-right: 2rem;
}

@media (max-width: 800px) {
  .data-list-title {
    padding-bottom: 0.2rem;
    float: none;
    display: block;
  }
  .data-list-top p {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
}

.white {
  color: white;
}

.songs-ul {
  text-align: left;
  list-style-position: inside;
  font-size: 2rem;
  background: #282828;
  border-radius: 1rem;
  margin: auto;
  width: 55%;
}
@media (max-width: 800px) {
  .songs-ul {
    font-size: 1.3rem;
    width: 80%;
  }
}

/*       listStylePosition: "inside",
              fontSize: "2em",
              background: "#282828",
              display: "inline-block",
              margin: "auto",
              padding: "1em",
              borderRadius: "1em", */
