.Data {
  color: aliceblue;
  font-size: 1rem;
}

.DataContainer {
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DataArea {
  width: 100vw;
  flex-direction: row;
}

.ReplayButton {
  font-size: 2rem;
  border-radius: 50vw;
  padding: 0.3vw;
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .Data {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .ReplayButton {
    font-size: 4vw;
  }
  .Data {
    font-size: 1.8vw;
  }
}

.mapButtons {
  margin: auto;
  flex-direction: row;
}
