.Data {
  color: aliceblue;
  font-size: 1rem;
  text-align: right;
}

.DataContainer {
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DataArea {
  width: 100vw;
  flex-direction: row;
}

.Data.song-data {
  text-align: left;
}
.ReplayButton {
  font-size: 1.5rem;
  border-radius: 50vw;
  padding: 0.3vw;
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .Data {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .ReplayButton {
    font-size: 1rem;
  }
  .Data {
    font-size: .8rem;
  }
}

@media (max-width: 799px){
  .Data {
    font-size:.5rem;
  }
    
}

.mapButtons {
  margin: auto;
  flex-direction: row;
}
